.container{
    width:1500px;
    height:800px;
    background:#f80;
}
@media screen and (min-width:800px) and (max-width:1500px) {
    .container{
        width:500px;
        height:900px;
        background:#f05;
    }
}
@media screen and (min-width: 300px) and (max-width:600px) {
    .container{
        width:300px;
        height:200px;
        background:#f55;
    }
}